@import url('https://fonts.googleapis.com/css?family=Anton|Lato:400,900');

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.1rem;
	font-weight: 400;
	height: 100vh;
	width: 100vw;
	color: $color-text;
	background-color: $color-bg;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content {
	padding: 5rem 0;
}

.single-post {
	.head-post {
		border-bottom: 1px solid $color-bg;
		margin-bottom: 2rem;
		.meta {
			margin: 1rem 0;
			span {
				margin-right: 10px;
			}
			.tag {
				background: rgba($color-text, 0.5);
				color: $color-bg;
				border-radius: 1rem;
				padding: 5px 15px;
				font-size: 80%;
			}
		}
	}
}