$widescreen: 1281px;
$desktop: 1025px;
$tablet: 768px;
$mobile: 320px;

@mixin widescreen {
  @media screen and (min-width: $widescreen) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: $desktop) and (max-width: $widescreen - 1px) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin mobile-only {
  @media (min-width: $mobile) and (max-width: $tablet - 1px) {
    @content;
  }
}